.moire {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: visible;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
}

.fading {
    visibility: hidden;
    opacity: 0;
    animation: hide 1s ease-in;
}

.hidden {
    display: none;
}

@keyframes hide {
    from {
        visibility: visible;
        opacity: 0.9;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}