.list {
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding-top: 10px;
}

.listHeader {
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
    padding-right: 10px;
    padding-bottom: 7px;
}

.listTitleRow {
    display: flex;
    justify-content: space-between;
}

.listTitle {
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
}

.listContent {
    background-color: #e2e2e2;
    height: 270px;
    overflow-y: auto;
    border-radius: 0 0 10px 10px
}

.item {
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
}