
.labelLoading {
    visibility: hidden;
}

.loaderWrapper {
    position: absolute;
    top: 3px;
}

.buttonContent {
    display: flex;
    justify-content: flex-start;
}
.iconArea {
    height: 24px;
    margin-right: 7px;
    margin-top: -2px;
}