.selectorWrapper {
    display: flex;
    margin-bottom: 10px;
}

.selectorTitle {
    margin-right: 15px;
    line-height: 40px;
}

.selector {
    width: 200px;
}

.nameCell {
    width: 200px;
}

.additionalRow {
    background-color: #ddfada;
}