.header {
    display: flex;
    justify-content: space-between;
}

.label {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.content {

}

.nameField {
    width: 300px;
    margin-bottom: 10px;
}

.globalCheckBox {
    margin-bottom: 10px;
}

.dateRange {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 300px;
}
.dateField {
    width: 140px;
}