.dayScheduleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    padding: 10px 20px;
}

.label {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.recordWrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.action {
    margin-left: 20px;
}

.footer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}