.dialogContent {
    display:flex;
    justify-content: space-between;
    min-height: 340px;
    padding: 0px 5px;
}

.column {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 45px;
    padding-bottom: 10px;
}

.selector {
    width: 250px;
}

.activeSwitchWrapper {
    width: 155px;
    height: 45px;
}

.activeSwitchLabel {
    width: 100px;
}