.dialogContent {
    display:flex;
    justify-content: space-between;
    min-height: 340px;
    padding: 0px 5px;
}

.column {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 400px;
}

.nameCell {
    width: 200px;
}

.additionalRow {
    background-color: #ddfada;
}

.actions {
    display: flex;
}

.actionsCell {
    display: flex;
    justify-content: space-between;
}

.rightPanelTitle {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.rightPanelContent {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 10px;
    min-width: 100px;
}

.rightPanelRow {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    width: 200px;
}