.dialogContent {
    display:flex;
    justify-content: space-between;
    min-height: 340px;
    padding: 0px 5px;
}

.column {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 400px;
}

.nameCell {
    width: 200px;
}

.additionalRow {
    background-color: #ddfada;
}

.actions {
    display: flex;
}