.dialogContent {
    width: 900px;
    min-height: 340px;
    padding: 0 15px 0 5px;
}

.row {
    display: flex;
    padding-bottom: 20px;
}

.timeRow {
    display: flex;
}

.titleField {
    width: 450px;
}

.dateField {
    width: 75px;
}

.dateFieldTitle {
    margin-right: 10px;
    line-height: 29px;
}

.dateSeparator {
    margin: 0 10px;
}

.nameField {
    width: 270px;
    margin-right: 10px;
}

.addressField {
    width: 270px;
}

.petNameField {
    width: 150px;
    margin-right: 10px;
}

.petSpeciesSelect {
    width: 250px;
    margin-right: 10px;
}

.petBreedSelect {
    width: 250px;
}

.error {
    height: 24px;
    display: flex;
    justify-content: center;
}