.applicationHeader {
    display: flex;
    justify-content: space-between;
}

.navigationMenu {

}

.profileAreaWrapper {
    display: flex;
    justify-content: flex-end;
    min-height: 40px;
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    margin-right: 10px;
}

.profileArea {
    display: flex;
    height: 16px;
}

.profileSeparator {
    width: 1px;
    height: 10px;
    background-color: #ddd;
    margin: 6px 9px 0 9px;
}

.userName {
    cursor: pointer;
}

.logout {
    cursor: pointer;
}