.dialogContent {
    display:flex;
    justify-content: space-between;
    min-height: 340px;
    padding: 0px 5px;
}

.column {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 400px;
}

.error {
    height: 24px;
    display: flex;
    justify-content: center;
}

.petsListWrapper {
    position: relative;
}

.petsList {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding-top: 10px;
}

.petsListHeader {
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-right: 10px;
}

.petsListTitle {
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
}

.petsListContent {
    background-color: #e2e2e2;
    height: 270px;
    overflow-y: auto;
    border-radius: 0 0 10px 10px
}

.petItem {
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
}