.listWrapper {
    width: 250px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.975rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 0;
}

.entry {
    padding: 12px 20px;
    color: #777;
    position: relative;
    cursor: pointer;
}

.selectedEntry {
    background-color: #FFCC00;
    cursor: default;
}

.entry:hover {
    color: orange;
}

.selectedEntry:hover {
    color: #777;
}